{% extends 'base.html.twig' %}

{% block title %}Coverage index
{% endblock %}

{% block body %}
	<h1>Coverage index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>LimitCoverage</th>
				<th>Deductible</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for coverage in coverages %}
				<tr>
					<td>{{ coverage.id }}</td>
					<td>{{ coverage.type }}</td>
					<td>{{ coverage.limitCoverage }}</td>
					<td>{{ coverage.deductible }}</td>
					<td>
						<a href="{{ path('app_coverage_show', {'id': coverage.id}) }}">
							<button class="btn btn-secondary">
								show</button>
						</a>
						<a href="{{ path('app_coverage_edit', {'id': coverage.id}) }}">
							<button class="btn btn-primary">
								edit
							</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_coverage_new') }}">
		<button class="btn btn-primary">Create new</button>
	</a>
{% endblock %}
